<!DOCTYPE html>
<html lang="en">

<body>
    <div class="clearfix"></div>



    <!--Start Dashboard Content-->
    <div class="container rounded" style="background-color:white">
        <br />
        <h2 class="text-center">S.A.T Peer Project</h2>
        <h6>What Are Administrative Tools Used For?</h6>
        <article>
            The programs can be used to schedule a test of your computer's memory, manage advanced aspects of users and groups, format hard drives, configure Windows services, change how the operating system starts, and much, much more.<br />

            <span class="name">Download SAT Documentation</span><br />
            <a href="~/Content/pdf/satDocumentation.pdf" download="SAT_Docmentation"> <img src="~/Content/assets/images/icons8-open-document-50.png" /></a>
        </article><br />


    </div>
    <!--End Row-->
    <!--End Dashboard Content-->
    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
    <!-- End container-fluid-->



</body>
</html>
